[user]
	name = idcloned
	email = lidcloned@gmail.com
[safe]
	directory = /storage/emulated/0/aenviargithub/apkcominportsparafuturo
	directory = /storage/emulated/0/aenviargithub/projeto_flutterr
	directory = /storage/emulated/0/aenviargithub/projeto_flutter_v22
	directory = /storage/emulated/0/aenviargithub/projeto_flutter_cirurgicoCOMCACHE
	directory = /storage/emulated/0/aenviargithub/faltouatualizarpara2.1ou superior_flutter_cirurgicoCOMCACHE
	directory = /storage/emulated/0/aenviargithub/projeto_flutter_cirurgico
	directory = /storage/emulated/0/aenviargithub/apkabiuld
	directory = /storage/emulated/0/000AAPK_ORIGINAL_LAMAFIA/apkvaichatgpt
	directory = /storage/emulated/0/000AAPK_ORIGINAL_LAMAFIA/atualbiuld
	directory = /storage/emulated/0/000AAPK_ORIGINAL_LAMAFIA/voip_projectv2adm
	directory = /storage/emulated/0/000AAPK_ORIGINAL_LAMAFIA/voip_projectv4adm
